snippet author "My name and email"
Florian Preinstorfer <nblock@archlinux.us>
endsnippet

snippet date "current date"
`date +%d.%m.%Y`
endsnippet

snippet time "current time"
`date +%H:%M`
endsnippet

snippet datetime "current date and time"
`date "+%d.%m.%Y - %H:%M"`
endsnippet
